body{
    font-family: 'Montserrat', sans-serif!important;
    background-color: #f6f6f6 !important;
}
.title{
    margin-top: 3vw;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-bottom: 2vw;

}
.stats, .lists{
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    margin-left: 1vw;
}
.lists{

}
@media (max-width: 480px) {
    .stats_row{
        margin-right: unset !important;
        margin-left: unset !important;
        margin-bottom: 1vw;
    }
}

.card-body{
    text-align: center;
    line-height: 3vw;
}
.card{
    margin-bottom: 1.5vw;
    border-radius: 8px!important;
    border: unset!important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
i{
    color:#7bbb5e;
    font-size: 2.2rem
}
.profile-photo{
    border-radius: 50%;
    height: 6rem
}
.one_item{
    display: block;
 }
.one_item,.delete{
    padding: 1rem;
    background-color: #f6f6f6;
    border-radius: 12px;
}
.delete, .done{
    background-color:#ec5d51!important;
    border: none !important;
    color: whitesmoke!important;
}
.done{
    background-color: #7bbb5e !important;
}
.done:hover{
    background-color: #67a955 !important;
}
a{
    color: unset!important;
}
a:hover{
    text-decoration: unset!important;
}
.input_task{
    display: inline-block;
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
    height: 2rem;
}